@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme("colors.unyt-primary");
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
