@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #053185;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

/* Custom gradient classes */
.gradient-background {
  background: linear-gradient(135deg, #90f, #0f9);
}
